<table class= "table">
  <% @checklists.each do |checklist| %>
    <tr>
        <td>
          <%= checklist.activity.name %>
        </td>
        <td>
          <a href="<%= checklists_path %>">  <button type="button" class="btn btn-danger">
              Delete <span class="badge badge-light"></span>
            </button>  </a>        </td>
    </tr>
  <% end %>
</table>
